@charset "utf-8";

*{margin: 0; padding: 0; box-sizing: border-box;}
li{list-style: none;}
a{text-decoration: none; color: inherit;}
img{vertical-align: top; max-width: 100%;}
button{cursor: pointer;}
body{background: #fff; color: #333;}

.inner{width:1200px; margin:auto;}
header{position:relative; height: 100px; background: #fff;}
img{width: 180px; height: 120px;}

/* relative는 header에게 */
nav{position: absolute; top: 40px; right: 10px; z-index: 10;}
nav>ul{display: flex;}
nav>ul>li>a{display: block; width: 120px; text-align: center; font-weight: bold; padding: 10px; background: #6A9C89; color:white;}
nav>ul>li:hover>a {background: #FFA725;}

.sub {display: none;}
.sub li a {display: block; background: #fff; padding: 5px; text-align: center; font-size: 15px;}
.sub li a:hover {background: #6A9C89; color: #fff;}

.slide{height: 300px; overflow: hidden;}
.slide ul {display: flex; width: 3600px;}
.slide ul li {width: 1200px; height: 300px; position: relative;}
.slide ul li a {display: block; height: 100%;}
.slide ul li.s1 {background: url("../images/d1.jpg") no-repeat center/cover;}
.slide ul li.s2 {background: url("../images/d2.jpg") no-repeat center/cover;}
.slide ul li.s3 {background: url("../images/d3.jpg") no-repeat center/cover;}
/* top: 50%; left: 50%; transform: translate(-50%, -50%); */
.slide ul li h2{background: rgba(255, 167, 37, 0.8); position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); padding: 20px; border-radius: 50px; font-size: 20px; color: #fff;}



.contents{height: 200px; display: flex;}
.contents article{width: 400px;}
.contents .notice {padding: 10px;}
.notice h2 {background: #C1D8C3; border-radius: 10px 10px 0 0 ; width: 120px; text-align: center; padding: 5px 0; font-size: 20px;}
.notice ul{background: #C1D8C3; padding: 5px 15px;}
.notice ul li {border-bottom: 1px dashed;}
.notice ul li:last-child {border-bottom: none;}
.notice ul li p{width: 250px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
.notice ul li a {position: relative; display: block; padding: 5px 0;}
.notice ul li span{position:absolute; top: 5px; right: 0;}


.contents .gall{padding: 10px;}
.gall h2 {background: #FFA725; border-radius: 10px 10px 0 0 ; width: 120px; text-align: center; padding: 5px 0; font-size: 20px;}
.gall ul {display: flex; padding: 12px; background: #FFA725; gap: 10px;}
.gall ul li img {width: 120px; height: 120px; object-fit: cover;}
.gall ul li:hover{opacity: 0.7;}


.contents .go {padding: 10px; }
.go h2 {background: #C1D8C3; border-radius: 10px 10px 0 0; width: 120px;text-align: center; padding: 5px 0; font-size: 20px;}
.go ul li img {width: 50px; height: 50px;}
.go ul{display: flex; gap: 20px; background: #C1D8C3; justify-content: center; padding: 15px;}
.go ul li{text-align: center;}
.go ul li a {display: block; height: 100%;}
.go ul li p {width: 80px; height: 80px; background: #fff; padding-top: 15px; border-radius: 20px; margin-bottom: 10px;}
.go ul li span {font-weight: bold;}
.go ul li img:hover {opacity: 0.3;}

/* .contents .gall {background: #121212;} */
footer{position: relative;  display: flex; height: 100px; background: #666; color: #fff; padding-left: 10px; gap:30px; align-items: center;}
.fsns li img {width: 20px; height: 20px;}
.fsns {position: absolute; top: 30px; right: 30px;  display: flex; gap: 10px;} 
.fsns li a {display: block; width: 30px; height: 30px; background: #867e7e; border-radius: 50%; text-align: center; padding-top: 5px; }
.fsns li:nth-child(1) a {background: lightcoral;}
.fsns li:nth-child(2) a {background: #00ACEE;}
.fsns li:nth-child(3) a {background: #4469b9;}